.main {
	&.top {
		.mainVisual {
			.container {
				@include for-device(phone) {
					padding: 0;
				}
			}

			&_thumbnail {
				img {
					height: auto;
					width: 100%;
				}
			}
		}

		.news {
			margin-top: 80px;

			@include for-device(phone) {
				margin-top: 60px;
			}

			.newsMain {
				margin: 40px auto 0;
				max-width: 600px;
				width: 100%;

				@include for-device(phone) {
					margin-top: 20px;
					width: auto;
				}

				.newsMainList {
					li {
						@include display-flex();
						@include font-size(20);

						color: $color-brown;

						@include for-device(phone) {
							@include font-size(16);
						}

						&:nth-child(n+2) {
							margin-top: 20px;
						}

						p {
							line-height: $line-height-body;

							& + p {
								margin-left: 100px;

								@include for-device(phone) {
									margin-left: 30px;
								}								
							}
						}
					}			
				}
			}
		}

		.concept {
			background: url("../images/top/concept_bg.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			height: 1000px;
			margin: 120px 0 80px;
			padding: 20px 0;

			@include for-device(phone) {
				margin: 80px 0 60px;
				height: 690px;
				padding: 10px 0;
			}

			.container {
				@include for-device(phone) {
					padding: 0;
					width: 100%;
				}
			}

			.conceptMain {
				background: url("../images/top/concept_frame.png");
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;	
				height: 960px;	

				@include for-device(phone) {
					height: 670px;
				}

				&_logo {
					position: relative;
					text-align: center;
					top: 20%;

					img {
						height: 100px;

						@include for-device(phone) {
							height: 70px;
						}
					}
				}

				p {
					@include font-size(22);

					color: $color-brown;
					line-height: $line-height-base;
					margin-top: 20px;
					position: relative;
					text-align: center;
					top: 20%;
					width: 100%;

					@include for-device(phone) {
						@include font-size(16);

						margin-top: 10px;
					}

					span {
						text-decoration: underline;
					}
				}
			}
		}

		.menu {
			.menuMain {
				.menuMainList {
					@include display-flex();
					@include justify-content(center);

					margin-top: 40px;

					@include for-device(phone) {
						@include flex-wrap(wrap);

						margin-top: 0;
					}

					li {
						@include for-device(phone) {
							margin-top: 30px;
						}
					}

					.menuMainListBox {
						margin: 0 15px;

						@include for-device(phone) {
							margin: 0;
						}

						&_img {
							img {
								border-radius: 10px;
								height: 300px;
								width: 300px;
							}
						}

						.menuMainListBoxDetail {
							dt {
								@include font-size(20);

								margin-top: 10px;
								position: relative;
								text-align: center;

								@include for-device(phone) {
									@include font-size(16);
								}

								&::after {
									border-bottom: 1px dashed #C9B2B2;
									bottom: -10px;
									content: "";
									left: 0;
									margin: auto;
									right: 0;
									position: absolute;
									top: 0;
									width: 100px;
								}
							}

							dd {
								@include font-size(18);

								margin-top: 20px;
								text-align: center;

								@include for-device(phone) {
									@include font-size(15);
								}

								&:nth-child(n+3) {
									margin-top: 10px;
								}
							}
						}
					}
				}
			}
		}

		.lineup {
			background: #FCEEEA;
			margin-top: 120px;
			padding: 80px 0;

			@include for-device(phone) {
				margin-top: 100px;
				overflow: hidden;
				padding: 60px 0;
			}

			.lineupMain {
				@include display-flex();
				@include justify-content(space-between);

				@include for-device(phone) {
					@include flex-wrap(wrap);
				}

				li {
					@include for-device(phone) {
						width: 100%;
					}

					&:nth-child(1) {
						@include for-device(phone) {
							order: 2;
						}
					}

					&:nth-child(2) {
						@include for-device(phone) {
							order: 1;
						}
					}

					&:nth-child(3) {
						@include for-device(phone) {
							order: 3;
						}
					}
				}

				.lineupMainList {
					&.is-brown {
						color: $color-brown;

						dt {
							@include for-device(phone) {
								margin-top: 30px;
								text-align: center;
							}

							&::after {
								border-bottom: 1px dashed $color-brown;
								bottom: -15px;
								content: "";
								left: 0;
								position: absolute;
								top: 0;
								width: 150px;

								@include for-device(phone) {
									margin: auto;
									right: 0;
									width: 75px;
								}
							}
						}
					}

					&.is-black {
						color: $color-black;
						text-align: right;

						dt {
							@include for-device(phone) {
								margin-top: 40px;
								text-align: center;
							}

							&::after {
								border-bottom: 1px dashed $color-black;
								bottom: -15px;
								content: "";
								right: 0;
								position: absolute;
								top: 0;
								width: 150px;

								@include for-device(phone) {
									margin: auto;
									left: 0;
									width: 100px;
								}
							}
						}
					}

					dt {
						@include font-size(30);

						position: relative;

						@include for-device(phone) {
							@include font-size(22);
						}
					}

					dd {
						@include font-size(22);

						margin-top: 30px;

						@include for-device(phone) {
							@include font-size(18);

							text-align: center;
						}

						&:nth-child(n+3) {
							margin-top: 20px;

							@include for-device(phone) {
								margin-top: 10px;
							}
						}
					}
				}

				&_img {
					position: relative;
					text-align: center;
					top: 50%;
					width: 30%;

					@include for-device(phone) {
						top: 0;
						width: 100%;
					}

					img {
						height: 130px;
						width: auto;

						@include for-device(phone) {
							height: 100px;
						}
					}
				}		
			}

			&_word {
				@include font-size(16);

				color: $color-brown;
				line-height: $line-height-body;
				margin-top: 40px;
				text-align: center;

				@include for-device(phone) {
					@include font-size(13);
				}
			}
		}

		.order {
			margin-top: 120px;

			@include for-device(phone) {
				margin-top: 100px;
			}

			&_title {
				@include font-size(40);

				color: $color-brown;
				font-weight: 200;
				line-height: $line-height-body;
				position: relative;
				text-align: center;

				@include for-device(phone) {
					@include font-size(26);
				}

				&:before {
					position: absolute;
					left: 200px;
					top: 0;
					content: "";
					width: 1px;
					height: 100%;
					background: #000;
					border-radius: 3px;
					transform: rotate(-25deg);

					@include for-device(phone) {
						left: 12px;
					}
				}

				&:after {
					position: absolute;
					content: "";
					right: 200px;
					top: 0;
					width: 1px;
					height: 100%;
					background: #000;
					border-radius: 3px;
					transform: rotate(25deg);

					@include for-device(phone) {
						right: 12px;
					}
				}
			}

			&_qrcode {
				margin-top: 40px;
				text-align: center;

				img {
					height: 150px;
					width: 150px;
				}
			}
		}

		.about {
			margin-top: 120px;

			@include for-device(phone) {
				margin-top: 100px;
			}

			.aboutMain {
				margin-top: 80px;

				@include for-device(phone) {
					margin-top: 40px;
				}

				.aboutMainList {
					margin-top: 80px;

					@include for-device(phone) {
						margin-top: 40px;
					}
			
					li {
						@include font-size(22);

						color: $color-brown;
						text-align: center;

						@include for-device(phone) {
							@include font-size(18);
						}

						&:nth-child(n+2) {
							margin-top: 20px;
						}
					}
				}

				&_word {
					@include font-size(22);

					color: $color-brown;
					line-height: $line-height-base;
					margin-top: 70px;
					text-align: center;	

					@include for-device(phone) {
						@include font-size(18);

						margin-top: 40px;
					}				
				}
			}
		}

		.access {
			margin-top: 120px;

			.accessMain {
				@include display-flex();
				@include justify-content(space-between);

				margin-top: 30px;

				@include for-device(phone) {
					@include flex-wrap(wrap);
				}

				.accessMainBox {
					&:nth-child(1) {
						@include for-device(phone) {
							width: 100%;
						}
					}

					&:nth-child(2) {
						padding: 0 60px;

						@include for-device(phone) {
							margin-top: 30px;
							width: 100%;
						}
					}

					&:nth-child(3) {
						@include for-device(phone) {
							margin-top: 40px;
							width: 100%;
						}
					}

					&_postcode {
						@include font-size(22);

						color: $color-brown;
						margin-top: 20px;

						@include for-device(phone) {
							@include font-size(18);

							margin-top: 10px;
							text-align: center;
						}
					}

					&_adress {
						@include font-size(22);	

						color: $color-brown;	
						margin-top: 30px;

						@include for-device(phone) {
							@include font-size(18);

							margin-top: 10px;
							text-align: center;
						}
					}

					&_notes {
						@include font-size(15);

						color: $color-brown;	
						margin-top: 10px;

						@include for-device(phone) {
							@include font-size(13);

							margin-top: 10px;
							text-align: center;
						}
					}

					&_word {
						@include font-size(15);

						color: $color-brown;
						text-align: center;

						@include for-device(phone) {
							@include font-size(13);
						}
					}

					&_qrcode {
						margin-top: 10px;
						text-align: center;

						@include for-device(phone) {
							margin-top: 0;
						}

						img {
							height: 150px;
							width: 150px;
						}
					}
				}
			}
			.accessMap {
				margin-top: 40px;

				@include for-device(phone) {
					margin-top: 20px;
				}

				.container {
					@include for-device(phone) {
						padding: 0;
					}
				}

				iframe {
				  width: 100%;
				  aspect-ratio: 16/9;
				}			
			}
		}

		.instagram {
			margin-top: 120px;

			.instagramMain {
				.instagramMainGalleryList {
					@include display-flex();
					@include justify-content(space-between);
					@include flex-wrap(wrap);

					margin-top: 40px;

					a {
						width: 33%;

						@include for-device(phone) {
							width: 49%;
						}

						img {
							height: 250px;
							object-fit: cover;
							width: 100%;

							@include for-device(phone) {
								height: 120px;
							}
						}
					}
				}

				&_word {
					@include font-size(16);

					color: $color-brown;
					line-height: 1.3;
					margin-top: 40px;
					text-align: center;	
				}

				&_qrcode {
					margin-top: 5px;
					text-align: center;

					img {
						height: 150px;
						width: 150px;
					}
				}
			}
		}
	}
}
